# env variables for the DHIS2 stack

# DHIS2 Instance name (mandatory)
INSTANCE_NAME=
#instance port (default=8080)
INSTANCE_PORT=9999

#type = prod | test | stage | dev (mandatory)
INSTANCE_TYPE=test

# Database password (mandatory)
POSTGRES_PASSWORD=

# Archive password (mandatory)
ENC_PASS=

#server Time Zone default= Europe/Brussels
# see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=


# optional
## Proxy
#FRONTEND_RULE=

## Database -------------------------------------------------------

#POSTGRES_IMAGE=msfocbehealth/dhis2-database:10-alpine
#POSTGRES_DB=dhis

## Tomcat web server ----------------------------------------------

#DHIS2_IMAGE=msfocbehealth/dhis2-web:2.30_alpine
#JAVA_OPTS=-XX:+UseG1GC -XX:+UseStringDeduplication -Xms512m -Xmx4096m -XX:-UseGCOverheadLimit

## Backup service -------------------------------------------------

#BACKUP_PATH=./backups
#DUMP_ARGS=-c -O -Fp -T aggregated* -T analytics* -T completeness* 

# see https://www.freeformatter.com/cron-expression-generator-quartz.html
# better leave L1 commented - default is that the L1 backup links to the latest L2 / L3 backup
#CRON_TIME_L1=*/10 * * * *

#[Minute] [hour] [Day_of_the_Month] [Month_of_the_Year] [Day_of_the_Week] - traditional Cron format
# Backup localy daily at 7pm
CRON_TIME_L2=0 20 * * *
MAX_BACKUPS_L2=10

# Backup At midnight, on the first day of each month
# CRON_TIME_L3=0 0 1 * * *
# MAX_BACKUPS_L3=12
